*{
	margin:0px;
	padding:0px;
	font-family: verdana;
	color:#070000;    
}

/*menu lateral*/

div#barra-lateral{
	position:fixed;
	width:40px;
	height:100%;
	background-color:#17d34f;
	overflow:hidden;
	-webkit-transition:width 0.5s cubic-bezier(.61,.01,.37,1);
}

div#barra-lateral:hover{
	width:150px;
}

p.title-menu{
	margin-left: 49px;
	line-height: 70px;
	text-decoration: underline
}

/*body*/

div#body{
	position:absolute;
	right:0px;
	left:170px;
    min-height:100px;
    background-color: rgb(47, 189, 94);
	background-image:  url("https://th.bing.com/th/id/OIP.6RjRPCeaD-IZWOdSCvUq2gHaCB?pid=ImgDet&rs=1");
}

div#texto-titulo{
	width:50%;
	min-height:100px;
	background-color: rgb(47, 189, 94) ;
	background-image:  url("https://th.bing.com/th/id/OIP.6RjRPCeaD-IZWOdSCvUq2gHaCB?pid=ImgDet&rs=1");
    float: right;
}

p#texto-titulo{
	margin:30px;
	margin-top:50px;
	color:#0c0101;
	font-style: oblique;
	font-weight: bold;
	text-shadow: 2px 2px 5px blue;
}


div#imagen-titulo{
    width:50%;
	min-height:100px;
	background-color: rgb(47, 189, 94);
	background-image:  url("https://th.bing.com/th/id/OIP.6RjRPCeaD-IZWOdSCvUq2gHaCB?pid=ImgDet&rs=1");
    float: right;
}

img#imagen-titulo{
    display: block;
    margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
    width: 200px;
	border: 5px solid #ddd;

}



